
@{
    ViewBag.Title = "AddBroker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-dark bg-primary text-center "
    <ul>
        <li>Ajouter un nouveau courtier</li>
        </ul>
        </nav>



<form action="text" method="post">
    Nom du courtier  :
    <input type="text" name="name" title="Nom" autofocus />
    <br />
    Prénom du courtier :
    <input type="text" name="name" title="Prénom" />
    <br />
    <input type="submit" value="Envoyer le formulaire">
</form>

