@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content")
    <link rel="stylesheet" type="text/css" href="/Content/Styles.css" />
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/Scripts")
</body>
</html>
